.info_text{
    font-size: 20px;
    color: #51A998;
	margin-bottom: 0px;
	font-weight: bold;
}
.info_text2{
    font-size: 32px;
	font-weight: bolder;
	margin-bottom: 0px;
}
.info_text3{
    font-size: 16px;
	font-weight: lighter;
	margin-bottom: 0px;
}
