{% extends 'base.html' %}
{% block content %}
    모집 마감 임박 <br>
    {% for recruits in recruits.all %}
        <br><br>
        {{ recruits.get_recruit_field_display }} <br>
        <a href="{% url 'study_detail' recruits.id %}">{{ recruits.recruit_title }}</a>
        {{ recruits.recruit_period_end | timeuntil }}
    {% endfor %}

    <br><br>
    
    <form class="sea" action="" method="GET">
        <input type="text" name="q" value="{{ q }}"/>
        <input type="submit" value="검색" />
    </form>

    <br><br>
    카테고리별
    <br>

    <!--최신순 정렬-->
    전체
    {% for recruit_field in recruit_field.all %}
        <a href="{% url 'study_detail' recruit_field.id %}">{{ recruit_field.recruit_title }}</a>
        {{ recruit_field.hashtag }}
        <br>
    {% endfor %}
    <br>

    스터디
    {% for recruit_field_study in recruit_field_study.all %}
        <a href="{% url 'study_detail' recruit_field_study.id %}">{{ recruit_field_study.recruit_title }}</a>
        {{ recruit_field_study.hashtag}}
        <br>
    {% endfor %}
    <br>

    소모임
    {% for recruit_field_club in recruit_field_club.all %}
        <a href="{% url 'study_detail' recruit_field_club.id %}">{{ recruit_field_club.recruit_title }}</a>
        {{ recruit_field_club.hashtag}}
        <br>
    {% endfor %}
    <br>

    프로젝트
    {% for recruit_field_project in recruit_field_project.all %}
        <a href="{% url 'study_detail' recruit_field_project.id %}">{{ recruit_field_project.recruit_title }}</a>
        {{ recruit_field_project.hashtag}}
        <br>
    {% endfor %}
    <br>

    설문조사
    {% for recruit_field_survey in recruit_field_survey.all %}
        <a href="{% url 'study_detail' recruit_field_survey.id %}">{{ recruit_field_survey.recruit_title }}</a>
        {{ recruit_field_survey.hashtag}}
        <br>
    {% endfor %}
    <br><br>

    <!--인기순 정렬-->
    전체
    {% for recruit_like in recruit_like.all %}
        <a href="{% url 'study_detail' recruit_like.id %}">{{ recruit_like.recruit_title }}</a>
        {{ recruit_like.hashtag }}
        <br>
    {% endfor %}
    <br>

    스터디
    {% for recruit_like_study in recruit_like_study.all %}
        <a href="{% url 'study_detail' recruit_like_study.id %}">{{ recruit_like_study.recruit_title }}</a>
        {{ recruit_like_study.hashtag}}
        <br>
    {% endfor %}
    <br>

    소모임
    {% for recruit_like_club in recruit_like_club.all %}
        <a href="{% url 'study_detail' recruit_like_club.id %}">{{ recruit_like_club.recruit_title }}</a>
        {{ recruit_like_club.hashtag}}
        <br>
    {% endfor %}
    <br>

    프로젝트
    {% for recruit_like_project in recruit_like_project.all %}
        <a href="{% url 'study_detail' recruit_like_project.id %}">{{ recruit_like_project.recruit_title }}</a>
        {{ recruit_like_project.hashtag}}
        <br>
    {% endfor %}
    <br>

    설문조사
    {% for recruit_like_survey in recruit_like_survey.all %}
        <a href="{% url 'study_detail' recruit_like_survey.id %}">{{ recruit_like_survey.recruit_title }}</a>
        {{ recruit_like_survey.hashtag}}
        <br>
    {% endfor %}
    <br><br>
    
    태그별 <br>
    {% for hashtag in hashtag.all %}
        <a href="{% url 'hashtag_detail' pk=hashtag.pk %}">{{ hashtag.hashtag_content }}</a>
    {% endfor %}
    <br>
    {% for hashtag_recruits in hashtag_recruits.all %}
        <a href="{% url 'study_detail' id=hashtag_recruits.id %}">{{ hashtag_recruits.recruit_title }}</a>
    {% endfor %}
{% endblock %}