{% extends 'about_manual.html' %}

{% load static %}

{% block fooster %}

<div class="container">
    <h4 class="findssg">
        <img src="{% static 'about/image/i.png' %}" alt="mdo" width="45" height="45">QnA 작성
    </h4>
    <hr style="color:#56b198" size="4px" width="100%">
{% if user.is_active %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ question_form.as_p }}
        <div class="button">
            <input type="submit" value="작성완료">
        </div>
    </form>
{% else %}
    로그인해야 QnA 작성이 가능합니다.
{% endif %}
    
    </div>

{% endblock %}









<h1>QnA 작성</h1>
{% if user.is_active %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ question_form.as_p }}
        <div class="button">
            <input type="submit" value="작성완료">
        </div>
    </form>
{% else %}
    로그인해야 QnA 작성이 가능합니다.
{% endif %}