{% extends 'about_main.html' %}

{% load static %}


{% block fooster%}
    <h4 class="findssg">
        <img src="{% static 'about/image/i.png' %}" alt="mdo" width="45" height="45">개발자 정보</h4>
    <table class="developer">
        <tr class="wlrtjs">
            <td class="wlrtjs2"><img src="{% static 'about/image/youngbin.png' %}" alt="mdo" widtd="250" height="250">
                <br><h5>조세은</h5><span style="color:#56b198">프론트엔드</span><br>Github: https://github.com/Joseeun<br>E-mail: duck_sim@naver.com<br>&nbsp;</td>
            <td><img src="{% static 'about/image/youngbin.png' %}" alt="mdo" widtd="250" height="250">
                <br><h5>김효중</h5><span style="color:#56b198">프론트엔드</span><br>Github: https://github.com/khj0426<br>E-mail: <br>&nbsp;</td>
        </tr>
        <tr>
            <td class="wlrtjs2"><img src="{% static 'about/image/youngbin.png' %}" alt="mdo" widtd="250" height="250">
                <br><h5>전지윤</h5><span style="color:#56b198">프론트엔드</span><br>Github: https://github.com/j1y4own<br>E-mail: missji1004@gmail.com<br>&nbsp;</td>
            <td><img src="{% static 'about/image/youngbin.png' %}" alt="mdo" widtd="250" height="250">
                <br><h5>주영빈</h5><span style="color:#56b198">백엔드</span><br>Github: https://github.com/Rommmu<br>E-mail: <br>&nbsp;</td>
        </tr>
    </table>
{% endblock %}
