{% extends 'about_manual.html' %}

{% load static %}


{% block fooster %}
<div class="container">
    <h4 class="findssg">
        <img src="{% static 'about/image/i.png' %}" alt="mdo" width="45" height="45">{{ question.question_title }}
    </h4>
    <hr style="color:#56b198" size="4px" width="100%">
    제목: {{ question.question_title }} <br>
    작성자: {{ question.question_writer.nickname }} <br>
    작성시간: {{ question.question_date }} <br>
    {% if question.question_image %}
    <img style="width: 50%;" src="{{ question.question_image.url }}" alt="image"> <br>
    {% endif %}
    내용 : {{ question.question_content | safe }} <br>

    {% if question.question_writer == user %}

    <a class=btn style="background-color: #56b198; color:white;" href="{% url 'about_qna_edit' question.id %}">수정</a>
    <a class=btn style="background-color: #56b198; color:white;" href="{% url 'about_qna_delete' question.id %}">삭제</a>
    <a class=btn style="background-color: #56b198; color:white;" href="{% url 'about_qna' %}">목록으로</a>

    {% endif %}

    {% for question in question.question_comments.all %}
    {% if user.is_superuser %}
    담당자 : {{ question.question_comment_content }} / {{ question.question_comment_date }}
    {% endif %}
    {% endfor %}

    {% if user.is_superuser %}
    <form method="POST" action="{% url 'about_qna_detail' question.id %}">
        {% csrf_token %}
        {{ question_comment_form.as_p }}
        <div class="button">
            <input type="submit" value="댓글 작성">
        </div>
    </form>
    {% endif %}
</div>
{% endblock %}