{% extends 'about_manual.html' %}

{% load static %}


{% block fooster %}
<div class="container">
    <h4 class="findssg">
        <img src="{% static 'about/image/qna.png' %}" alt="mdo" width="45" height="45">{{ question.question_title }}
    </h4>
    <p class="qna_title">{{ question.question_writer.nickname }}&nbsp;&nbsp;<a style="color: lightgray;">{{ question.question_date }}</a></p>
    <hr style="color:#56b198" size="4px" width="100%">
    {% if question.question_image %}
    <!-- <img style="width: 50%;" src="{{ question.question_image.url }}" alt="image"> <br> -->
    {% endif %}
    {{ question.question_content | safe }} <br>

    {% if question.question.writer == user or user.is_superuser %}
    <a class=btn style="background-color: #56b198; color:white;" href="{% url 'about_qna_edit' question.id %}">수정</a>
    <a class=btn style="background-color: #56b198; color:white;" href="{% url 'about_qna_delete' question.id %}">삭제</a>

    {% endif %}
    <a class=btn style="background-color: #56b198; color:white;" href="{% url 'about_qna' %}">목록으로</a>
    </div>
    <div class="container">
    <hr style="color:#56b198" size="4px" width="100%">
    {% for question in question.question_comments.all %}
    {% if user.is_superuser %}
    <p style="text-align:left; font-size: 15;"><img src="{% static 'home/img/icon.png' %}" style="width:15px; margin-right: 3px; padding-bottom: 4px;">
        <b><span style="color: #56b198">담당자</span> : {{ question.question_comment_content }}</b>
        <span style="color: lightgray; font-size: 15;">{{ question.question_comment_date }}</span></p>
    {% endif %}
    {% endfor %}

    {% if user.is_superuser %}
    <form method="POST" action="{% url 'about_qna_detail' question.id %}" style="float: left;">
        {% csrf_token %}
        {{ question_comment_form.as_p }}
        <span class="button" style="float: left;">
            <input type="submit" value="댓글 작성">
        </span>
    </form>
    {% endif %}
</div>
{% endblock %}