{% extends 'about_manual.html' %}

{% load static %}


{% block fooster %}


<head>
    <style>
        table {
                border: 1px solid #444444;
                border-collapse: collapse;
            }
        th, td {
                border: 1px solid rgb(216, 216, 216);
            }

            tr.text:hover { background-color: rgb(241, 241, 241); }
    </style>
</head>
<div class="container">
    <h4 class="findssg">
        <img src="{% static 'about/image/i.png' %}" alt="mdo" width="45" height="45">문의하기
    </h4>
    <hr style="color:#56b198" size="4px" width="100%">
    <table class="qna">
        <thead style="background-color: rgb(241, 241, 241);">
        <tr style="color:#999">
            <td width="500px">제목</td>
            <td width="150px">작성자</td>
            <td width="150px">작성일</td>
        </tr>
        </thead>
        <tbody>
        {% for questions in questions.all %}
        <tr class="text">
            <td style="color:#999; padding: 15px;"><a href="{% url 'about_qna_detail' questions.id %}">{{ questions.question_title}}</a></td>
            <td>{{ questions.question_writer.nickname }}</td>
            <td>{{ questions.question_date }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="container" style="margin-top: 20px;">
    <form class="" action="" method="GET">
        <input type="text" name="q" value="{{ q }}" style="width: 300px;"/>
        <input class=btn style="background-color: #56b198; color:white; margin-left: 10px;" type="submit" value="검색" />
        <a class=btn style="background-color: #56b198; color:white;" href="{% url 'about_qna_write' %}">글쓰기</a>
    </form>
</div>

{% endblock %}