{% extends 'about_manual.html' %}

{% load static %}

{% block fooster %}
<style>
    iframe.note-fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw !important;
        height: 100vh !important;
        z-index: 4000;
    }
</style>


<div class="container">
    <h4 class="findssg">
        <img src="{% static 'about/image/i.png' %}" alt="mdo" width="45" height="45">문의하기 수정
    </h4>
    <hr style="color:#56b198" size="4px" width="100%">
    <form action ="{% url 'about_qna_edit' question.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- {{ question_form.as_p }} -->
        <table style=" margin: 0px auto;">
            <tr>
                <td style="width:100px; background-color: f5f5f5; text-align:center; border: 1px solid f5f5f5; margin-left: 20px;">제목</td>
                <td style="border: 1px solid #f5f5f5;"><input type="text" name="question_title" maxlength="100" value="{{ question.question_title }}"
                        style="width: 900px; height: 35px; text-align: left;" ></td>
            </tr>
        </table>
        <textarea name="question_content" cols="40" rows="10"  id="id_question_content" hidden="true">{{ question.question_content }}</textarea>

        <div class="summernote-div" cols="40" rows="10" width="720" height="480">
            <iframe id="id_question_content_iframe" src="/summernote/editor/id_question_content/" frameborder="0"
                width="1000" height="550"></iframe>
        </div>


        <div class="button">
            <input class=btn style="background-color: #56b198; color:white; margin-top: 20px;" type="submit" value="수정완료" />
        </div>
    </form>

</div>
<script>
    var settings_id_question_content = {
        "width": 1000, "height": 550, "lang": "en-US", "toolbar": [["style", ["style"]], ["font", ["bold", "italic", "underline", "superscript",
            "subscript", "strikethrough", "clear"]], ["fontname", ["fontname"]], ["fontsize", ["fontsize"]], ["color", ["color"]], ["para", ["ul", "ol", "paragraph"]], ["height", ["height"]], ["table", ["table"]], ["insert", ["link", "picture", "video", "hr"]], ["view", ["fullscreen", "codeview"]], ["help", ["help"]]], "url": { "language": "/static/summernote/lang/summernote-en-US.min.js", "upload_attachment": "/summernote/upload_attachment/" }
    };
</script>
{% endblock %}



<!-- <h1>QnA 수정</h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ question_form.as_p }}
    <div class="button">
        <input type="submit" value="수정완료">
    </div>
</form> -->
