{% extends "base.html" %}
{% load static %}
<html lang="en">

<head>

  {% block css %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/mypage_main.css' %}">
  {% endblock css %}

</head>

<body>
  {% block content %}

  <div class="text" style="margin-bottom: 20px;">
    <div class="text_1" style="font-size: 3.5vh; letter-spacing: 0.09em"><b>내가 등록한 게시글 보기</b></div>
    <div class="text_1" style="font-size: 2vh; letter-spacing: 0.275em">MY REGISTRATION</div>
  </div>
  <div class="body_area">

    <div class="area" style="padding-bottom: 100px;">

      <!--미니 프로필-->
      <div class="second_area" style="padding: 25 0px;">
        {% if user.is_active %}

        {% if user.profile_image %}
        <img style="border-radius: 100%; width:150px;" src="{{ user.profile_image.url }}" alt="유저의 이미지 부분">
        {% endif %}

        <div class="user_profile">

          <div style="margin-top: 10px;">
            <div id="user_infomation">닉네임</div><span style="color:gray;">{{ user.nickname }}</span>
          </div>
          <div>
            <div id="user_infomation">이메일</div><span style="font-size: 13; color: gray;">{{ user.email }}</span>
          </div>
        </div>
        {% endif %}
      </div>


      <div class="mypage_move">
        <div>
          <img src="{% static 'img/register.png' %}"> &nbsp;
          <a href="{% url 'study_register' %}" target="_blank" style="text-decoration:none;color:black;">
            스터디 등록하기</a>
        </div>
        <div><img src="{% static 'img/mylist.png' %}">&nbsp;
          <a href="{% url 'study_list' %}" style="text-decoration:none;color:black;">
            등록한 게시글 보기</a>
        </div>
        <div><img src="{% static 'img/bookmark.png' %}">&nbsp;
          <a href="{% url 'study_bookmark' %}" style="text-decoration:none;color:black;">
            내가 찜한 게시글</a>
        </div>
        <div><img src="{% static 'img/change_user.png' %}">&nbsp;
          <a href="{% url 'mypage_edit' %}" style="text-decoration:none;color:black;">
            개인정보 수정하기</a>
        </div>
      </div>
    </div>


    <!--리스트 시작-->
    <div class="content" style="border:2px solid #d1d1d1; margin-bottom: 50px; padding-bottom: 20px;">
        {% for temp in posts %}
        <div class="detail_div" style="
                          border: 1px solid #d1d1d1;
                          width: 60%;
                          height: auto;
                          display: flex;
                          flex-direction: column;
                        ">
          <a href="{% url 'study_detail' temp.id %}" class="hober"
            style="text-decoration: none; color: #51a998; font-size: 1.2vw">{{ temp.recruit_title }}
          </a>
          <br>
          <div>{{ temp.recruit_date}}</div>
        </div>
        {% endfor %}
      <!--페이지 넘기기-->
      <div class="page_list" style="width: 50%; display: flex">
        {% if posts.has_previous %}
        <a class=btn style="background-color: #56b198;; color:white; width: 130px;" href="?page=1">처음페이지</a>
        <a class=btn style="background-color: #56b198;; color:white; width: 130px;"
          href="?page={{posts.previous_page_number}}">이전페이지</a>
      
        {% endif %} {% if posts.has_next %}
        <a class=btn style="background-color: #56b198;; color:white; width: 130px;"
          href="?page={{posts.next_page_number}}">다음페이지</a>
        <a class=btn style="background-color: #56b198;; color:white; width: 130px;"
          href="?page={{posts.paginator.num_pages}}">마지막 페이지</a>
      
        {% endif %}
        
        <section class="span_list">
          <span class="span_detail">{{posts.number}}</span>
          /
          <span class="span_detail">{{posts.paginator.num_pages}}</span>
        </section>
        
      </div>


    </div>
  </div>
  {% endblock %}
</body>