body{
    background: #F5F5F5;

}

.main{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    border:1px solid #a1a1a1;
    background-color:white;
    margin:2vh auto;
}
.first{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#51a998;
    font-size:1rem;
    letter-spacing: 0.25em;
    margin-top:2vh;
}

.second{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:80%;
    flex-wrap:wrap;

}

input{
    cursor:pointer;
}

.second div{
    width: 75%;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    border-bottom:#a1a1a1;
}
.SIZE{
font-size:0.9vw;
cursor:pointer;
}

.title{
    width:95%;
}

.hashtag{
    width:70%;
}

.hashtag_add{
    font-size:1vw;
    background:#51a998;
    border:1px solid #f1f1f1;
    color:white;
}

.hashtag_add:hover{
    background:green;
    cursor:pointer;
}
.imgadd{
    font-size:1vw;
    background:#51a998;
    border:1px solid #f1f1f1;
    color:white;
    border-radius:10%;
}
.imgadd:hover{
    background:green;
    cursor:pointer;
}
.board{
    width:100%;
    height:80%;
}
