@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
 font-family: 'Noto Sans KR', sans-serif;
}
@font-face {
    font-family: 'TTTogether';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	font-family: 'Noto Sans KR', sans-serif;
}
.body_area{
    width:100%;
    display:flex;
}
.area{
    display:flex;
    width:25%;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
}
.text{
    margin-top:100px;
    display:flex;
    height:auto;
    width:50%;
    flex-direction:column;
    margin-left:29vw;
    align-items:center;
}
.text_1{
    color:#51a998;
}
.second_area{
    
    margin-left:5vw;
    display:flex;
    width:50%;
    height:auto;
    flex-direction:column;
    border: 2px solid #D1D1D1;
    filter: drop-shadow(0px 0.5px 0.5px rgba(0, 0, 0, 0.25));
}
.second_area img{
    width:100%;
    object-fit:cover;
    border-bottom: 1px solid #D1D1D1;
    filter: drop-shadow(0px 0.5px 0.5px rgba(0, 0, 0, 0.25));
}

.user_profile{
    display:flex;
    width:100%;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.user_profile div{
    font-size:1vw;
    margin-top:0.5vh;
}
.message_button{
    background:#51a998;
    font-size:1vw;
    border:white;
}
.message_button:hover{
    background:green;
}
.hidden{
    display:none;
}
.mypage_move{
    margin-top:2.0vh;
    margin-left:5vw;
    margin-bottom: 40px;
    width:50%;
    height:100%;
    border: 2px solid #d1d1d1;
    color: gray;
    height:auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    
    flex-wrap:wrap;

}
.mypage_move div{
    display:flex;
    justify-content:center;
    width:100%;
    height:10vh;
    font-size:1vw;
    
    border: 1px solid #D1D1D1;
}

.page_list{
    display:flex;
    width:20%;
    justify-content:center;
    align-items:center;
}
button:hover{
    background:green;
}
.content{
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        align-items:center;
        width:60%;
        
        height:90vh;
        border: 1px solid #D1D1D1;
        filter: drop-shadow(0px 0.5px 0.5px rgba(0, 0, 0, 0.25));
}

#user_infomation{
    font-size:1vw;
    color:#51a998;
    border-bottom:1px solid #d1d1d1;
    display:flex;
    width:100%;
    justify-content:center;
}
.content div{
    display:flex;
    justify-content:space-around;
    align-items:center;
    width:50%;
    font-size:1vw;
}

.content div img{
    width:50%;

}
.content .out{
}

.content_div img{
    width:100%;
    border:1px solid #b1b1b1;
}
.user_info{
    width:80%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}
.user_info div{

    width:80%;
    height:3.5vh;
    border:1px solid #d1d1d1;
}
label{
    margin-bottom:0.5vh;
    display:flex;
    font-size:1vw;
    justify-content:center;
    width:100%;
}

.log_out{

    background-color:#51a998;
    color:white;
    font-size:1vw;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    border:1px solid #a1a1a1;

}

.log_out:hover{
    background-color:green;
}

.board_div{
    width:80%;
    border:1px solid #e1e1e1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.board_div_first{
    color:#51a998;
    font-size:1.2vw;
    font-weight:800;
    letter-spacing: 0.3rem;
}


.edit_button{
    padding:1.5px;
    display:inline-block;
    width:100%;
    text-decoration:none;
    color:white;
    border-radius:10%;

}
.edit_button:hover{
    background:green;
    color:white;
}