@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
 font-family: 'Noto Sans KR', sans-serif;
}
@font-face {
    font-family: 'TTTogether';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	font-family: 'Noto Sans KR', sans-serif;
}
.body_area{
    width:100%;
    display:flex;
}
.area{
    display:flex;
    width:25%;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
}
.text{
    margin-top:22vh;
    display:flex;
    height:auto;
    width:50%;
    flex-direction:column;
    margin-left:29vw;
    align-items:center;
}
.text_1{
    color:#51a998;
}
.second_area{
    margin-top:5vh;
    margin-left:5vw;
    display:flex;
    width:50%;
    height:auto;
    flex-direction:column;
    border: 1px solid #D1D1D1;
    filter: drop-shadow(0px 0.5px 0.5px rgba(0, 0, 0, 0.25));
}
.second_area img{
    width:100%;
    object-fit:cover;
    border-bottom: 1px solid #D1D1D1;
    filter: drop-shadow(0px 0.5px 0.5px rgba(0, 0, 0, 0.25));
}
.user_profile{
    display:flex;
    width:100%;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.user_profile div{
    padding:4%;
    font-size:1vw;
}
.mypage_move{
    margin-top:3vh;
    margin-left:5vw;
    width:50%;
    height:100%;
    border: 1px solid #D1D1D1;
    filter: drop-shadow(0px 0.5px 0.5px rgba(0, 0, 0, 0.25));
    height:auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;

}
.mypage_move div{
    display:flex;
    justify-content:center;
    width:100%;
    height:10vh;
    font-size:1vw;
    align-items:center;
    border: 1px solid #D1D1D1;
}
.content{
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        align-items:center;
        margin-top:5vh;
        width:60%;
        height:auto;
        border: 1px solid #D1D1D1;
        filter: drop-shadow(0px 0.5px 0.5px rgba(0, 0, 0, 0.25));
}

.content_div{
    display:flex;
    width:30%;
    justify-content:center;
    align-items:center;
}

.content_div img{
    width:100%;
    border:1px solid #b1b1b1;
}
.user_info{
    width:80%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.user_info div{

    width:100%;
    height:3.5vh;
    border:1px solid #d1d1d1;
}
label{
    margin-bottom:0.5vh;
    display:flex;
    justify-content:center;
    width:100%;
}

.log_out{
    width:10%;
    background-color:#51a998;
    color:white;
    font-size:1vw;
    border:1px solid #a1a1a1;
}

.log_out:hover{
    background-color:green;
}

.board_div{
    width:80%;
    border:1px solid #e1e1e1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.board_div_first{
    color:#51a998;
    font-size:1.2vw;
    font-weight:800;
    letter-spacing: 0.3rem;
}




