body{
    font-family: 'Noto Sans KR';
    fobnt-size:1vw;
}

.top_container{
    margin:15vh auto;
    width:100%;
    background:#f5f5f5;
    height:auto;
}

#likes:hover{
    color:#51a998;
}
.inner_recruit{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}
.today{
    font-size:1vw;
    color:#3165B1;
}

.inner_like_text{
    display:flex;
    justify-content:center;
    width:100%;
}

.board_like_container{
    display:flex;
    justify-content:center;
    flex-direction:column;
    width:50%;
}

.recruit_a{
    font-size:1.4vw;
    color:black;
    font-weight:600;
}

.recruit_a:hover{
    font-weight:700;
    color:black;

}
.text_area{
    margin-top:5vh;
    font-size:2vw;
    color:#51a998;
    font-weight: 700;
    width:25%;
    display:flex;
    justify-content:flex-end;
}
.title{
    color:black;
    text-decoration:none;
}
.title:hover{
    color:red;
}
.page_nation{
    display:flex;
    height:100%;

}

.page_nation_bottom{
    display:flex;
    height:100%;
    align-items:flex-start;
}

.tag_detail{
    display:flex;
    color:black;
    font-weight:650;
    font-size:1.1vw;

}

#title{
    width:100%;
    height:20%;
    overflow:auto;

}

.board_area{
    height:auto;
    width:80%;
    margin:0px auto;
    display:flex;
    align-items:flex-start;
    justify-content:space-around;
}

.board_content{
    overflow:scroll;
    height:100%;
}

.board_detail{
    margin-top:3vh;
    margin-bottom:3vh;
    border:1px solid #51a998;
    width:15%;
    height:25vh;
    font-size:1vw;
    cursor:default;
}

.tag_detail{
    width:15%;
    height:25vh;
    font-size:1vw;
    display:flex;
    width:100%;
    justify-content:space-around;
    align-items:flex-start;
    margin-top:5vh;
}
.tag_area{
    height:auto;
    width:100%;
    background:#f5f5f5;

}

.recruit_title{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    text-decoration:none;color:black;font-weight:600;font-size:1.05vw;
    overflow-y:scroll;
    height:20%;
    width:100%;
}
.top_board_detail{
    display:flex;
    justify-content:space-around;
    font-weight:700;
}

.circle{
    background:#51a998;
    border-radius:50%;
    width:3vw;
    height:3vw;
    display:flex;
    justify-content:center;
    align-items:center;
}
.inner_circle{
    font-size:2vw;
    color:white;
    display:flex;
    text-decoration:none;
    align-items:center;
}

.inner_circle_bottom{
    font-size:2vw;
    color:white;
    display:flex;
    text-decoration:none;

}
.circle:hover{
    cursor:pointer;
    background:green;
}


circle{
    cursor:pointer;
}


 .recruit_project, .recruit_club, .recruit_study, .recruit_survey{
    display:none;
    cursor:pointer;
}
.recruit_all, .recruit_study, .recruit_club, .recruit_project, .recruit_survey{
    display:flex;
    flex-direction:column;

}
.list div{
    cursor:pointer;
    font-size:0.8vw;
}

.list div:hover{
    color:gray;
    font-weight:700;
}

.recruit_all a,.recruit_study a, .recruit_club a, .recruit_project a, .recruit_survey a{
    width:35%;
    border-bottom:1px solid #c1c1c1;
    margin-top:5%;
    text-decoration:none;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
 font-family: 'Noto Sans KR', sans-serif;
}

*{
    align-items: center;
}

/*移댄뀒怨좊━蹂�*/

.middlebox{
    margin-top: 5vh;
    font-size:1vw;
}

.titleword{
    color:#56b198;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
}

.searchtext{
    width:30%;
    height:5%;
    border:3px solid;
    border-image: linear-gradient(to right, #3165b1, #56b198);
    border-image-slice: 1;
    border-radius: 10px;
}

.srchbutton{
    margin: 5px;
    position: relative;
    padding: 10px 30px;
    border: none;
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
    font-weight: 500;;
    transition: 0.25s;
    background: linear-gradient(#56b198, #3165b1);
    color: white;
    border-radius: 10px;
}

.category{
    margin: 8px auto;
    padding:10px;
    width: 60%;
    height:auto;
    border: 2px solid #56b198;
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 10px;
}

#catepost{
    margin: 10px auto;
    width: 90%;
    height: auto;
    background-color:rgb(245, 245, 245);
}

.nav-link{
    color: #999;
}

.nav-link:hover{
    color:black;
}

/*�ъ씠�� �ㅽ겕濡� 諛�*/
.float_sidebar{
    position: fixed;
    top: 100px;
    right: 200px;
    width:5vw;
    height:auto;
    transition: 0.25s;
    border-radius: 1vw;

    z-index:-1;

}


.content{
    position: absolute;
    left: 8.5vw;
    width: 130px;
    height: 280px;
    border: 1px solid #56b198;
    transition: 0.25s;
    border-radius: 10px;
}

.latelyselected{
    margin: 5px;
    font-size: 13px;
}

.latelywatchedpost{
    width: 110px;
    height: 110px;
    margin: 10px;
    background-color: rgb(233, 233, 233);
}

/*�� 踰꾪듉*/
.ssgupbutton{
    position: absolute;
    left: 5px;
    top: 280px;
    width: 40px;
    height: 40px;
    padding: 3px;
    translate: 0.1s;
    animation-delay: 0.1s;
}


/* �쒓렇蹂� */

.bottombox{
    margin-top: 100px;
    align-items: center;
    display: flex;
    width: 100%;
}

.tagbox{
    text-align: center;
    width: 100%;
}

#slide-wrapper{
    max-width: 500px;
    display: flex;
    min-height: 30px;
    align-items: center;
}

#slider{
    background-color: #999;
    max-width: 440px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.arrow{
    cursor: pointer;
    transition: .3s;
}

.arrow:hover{
    opacity: .5s;
    width: 45px;
    height: 45px;
}

.button{
    border: none;
    font-size: 16px;
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
    transition: all 0.3s ease;
}

.button:hover{
    background:  rgb(219, 219, 219);
}



.tagpostlist{
    display: flex;
    align-items: center;
}

.tagpost{
    width: 270px;
    height: 170px;
    margin: 20px;
    border: 2px solid rgb(220, 219, 219);
    display:flex;
    align-items: center;
}